/*test colors*/

.grey {
  background-color: #a8a4a4!important;
}
.red {
  background-color: #ef8a8a!important;
}
.orange {
  background-color: #efb887!important;
}
.yellow {
  background-color: #f4e46e!important;
}
.green {
  background-color: #b2f46d!important;
}
.blue {
  background-color: #6cddf4!important;
}
.navy {
  background-color: #6b97f4!important;
}
.purple {
  background-color: #c691f3!important;
}

/*used colors*/

.main_yellow {
  background-color: #e9c92c;
}
.main_grey {
  background-color: #3f434a;
}
.main_olive {
  background-color: #999966;
}
.text_color {
  color: #999999;
}
.main_orange {
  background-color: #f18f1c;
}
/*fonts*/

@font-face {
    font-family: 'adelle_rgitalic';
    src: url('../fonts/adelle_italic-webfont.eot');
    src: url('../fonts/adelle_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle_italic-webfont.woff') format('woff'),
         url('../fonts/adelle_italic-webfont.ttf') format('truetype'),
         url('../fonts/adelle_italic-webfont.svg#adelle_rgitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'adelle_rgbold_italic';
    src: url('../fonts/adelle_bolditalic-webfont.eot');
    src: url('../fonts/adelle_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle_bolditalic-webfont.woff') format('woff'),
         url('../fonts/adelle_bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/adelle_bolditalic-webfont.svg#adelle_rgbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

/*------------------------------------------------------------------------------------- */

/*typography*/

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, label, address, form {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle_rgbold_italic", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  color: #e9c92c;
  font-weight: bold;
}
p, a, li, ul, ol, label, address, form {
  font-family: "adelle_rgitalic", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  color: #999999;
}
::-webkit-input-placeholder {
   font-family: "adelle_rgitalic", Georgia, Times, "Times New Roman", serif;
   font-style: italic;
   color: #aeb3ba!important;
}
:-moz-placeholder { /* Firefox 18- */
   font-family: "adelle_rgitalic", Georgia, Times, "Times New Roman", serif;
   font-style: italic;
   color: #aeb3ba!important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   font-family: "adelle_rgitalic", Georgia, Times, "Times New Roman", serif;
   font-style: italic;
   color: #aeb3ba!important; 
}
:-ms-input-placeholder {  
   font-family: "adelle_rgitalic", Georgia, Times, "Times New Roman", serif;
   font-style: italic;
   color: #aeb3ba!important;  
}


/*top section*/

body {
  /*background-color: #3f434a;*/
}

#top_wrapper {
  height: 400px;
  background: #3f434a url('../images/bg_slider_photo.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*max-width: 1600px;*/
  margin: 0 auto;
}
.top_menu {
  height: 400px;
  background: transparent url('../images/bg_slider.png') no-repeat left top;
}
.navbar .row {
  
}
.navbar > .container {
  border-top: 10px solid #e9c92c;
}
.navbar-brand {
  width: 111px;
  height: 42px;
  position: relative;
  top: 20px;
  z-index: 100;
  background: url('../images/logo_main.png') no-repeat left top;
}
.main_nav li {
  margin-left: 30px;
  top: 20px;
}
.main_nav li a {
  font-family: "adelle_rgbold_italic", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(55,71,54,.6);
  text-transform: uppercase;
  padding: 10px 20px 10px;
  background-color: #f18f1c;  
}
.main_nav li .menu_simple_link {
  background-color: transparent;
}
.main_nav li a span {
  color: #f18f1c;
  border-bottom-style: dashed;
  border-bottom-width: 1px; 
}
.main_nav li .menu_button_link {
  width: 145px;
  height: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: #f18f1c; /* layer fill content + color overlay */
  -moz-box-shadow: 0 1px 1px rgba(55,71,54,.6); /* drop shadow */
  -webkit-box-shadow: 0 1px 1px rgba(55,71,54,.6); /* drop shadow */
  box-shadow: 0 1px 1px rgba(55,71,54,.6); /* drop shadow */
  
  background:  #f18f1c url('../images/icon_contact.png') no-repeat 110px 14px;
}
#about_us {
  position: relative;
  top: -300px;
  left: 0px;
  z-index: 100;
}
.about_us_text {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  -moz-box-shadow: 0 1px 0 rgba(9,74,119,.2); /* drop shadow */
  -webkit-box-shadow: 0 1px 0 rgba(9,74,119,.2); /* drop shadow */
  box-shadow: 0 1px 0 rgba(9,74,119,.2); /* drop shadow */
  
  background: url('../images/bg_corner_left_right_01.png') no-repeat left top;
  
}
#about_us h4 {
  color: #fff;
  font-size: 24px;
  font-family: "adelle_rgitalic", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(9,74,119,.7);
}
.social h6{
  color: #fff;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(15,95,150,.7);
  
}
.social ul li a {
  height: 33px;
  margin-top: 10px;
  padding: 16px;
}

.menu_facebook {
  background: transparent url('../images/icon_facebook.png') no-repeat center top;
}
.menu_twitter {
  background: transparent url('../images/icon_twitter.png') no-repeat center top;
}
.menu_instagram {
  background: transparent url('../images/icon_instagram.png') no-repeat center top;
}
.menu_phone {
  background: transparent url('../images/icon_phone.png') no-repeat center top;
}
.menu_email {
  background: transparent url('../images/icon_email.png') no-repeat center top;
}

/*clients*/

.section_headline {
  color: #e9c92c;
  border-bottom: 3px solid #e9c92c;
}
.first_section_headline {
  height: 100px;
  margin-top: -100px;
}
.first_section_headline h2, .section_headline h2  {
  font-size: 72px;
}
.first_section_headline h2 {
  text-shadow: 0 3px 3px rgba(55,71,54,.7);
}
p.lead{
  font-size: 16px;
  margin-top: 30px;
  background: url('../images/icon_clients_01.png') no-repeat center bottom;
  padding-bottom: 40px;
}
.clients_section {
  background-color: #3f434a;
  padding-bottom: 40px;
  border-bottom: 3px solid #dedede;
}
.clients_section p.lead {
  text-shadow: 0 1px 0 #000;
}
.clients_logos {
  text-indent: -9000px;
  height: 311px;
  background: url('../images/client_logos_01.png') no-repeat center top;
  
}

/*latest works*/
#latest_works {
  background-color: #f5f5f5;
}
.work_thumb_big, .work_thumb_mid {
  margin-bottom: 20px;
  
}
.work_thumb_big img, .work_thumb_mid img {
  width: 100%;
}

/*what we do*/
#latest_works .section_headline h3 {
  font-size: 48px;
}
.what_we_do {
  padding-bottom: 80px;
  border-bottom: 3px solid #dedede;
}
.what_we_do h5 {
  color: #3f4349;
  font-size: 16px;  
}
.what_we_do img {
  margin-top: 10px;
}
.what_we_do p.lead{
  background: url('../images/icon_line_01.png') no-repeat center bottom;
  padding-bottom: 20px;
  margin-bottom: 40px;
}


/*get in touch*/
.get_in_touch_bg {
  background-color: #999966;
  border-top: 60px solid #f5f5f5;
}
.get_in_touch {
  background-color: #3f434a;
  padding-bottom: 70px;
}
.get_in_touch p {

}
.get_in_touch p.lead, .get_in_touch a, .get_in_touch label, .get_in_touch address p, .get_in_touch address {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}
.get_in_touch address p, .get_in_touch a {
  font-size: 38px;
  font-family: "adelle_rgbold_italic", Georgia, Times, "Times New Roman", serif;
  /*color: #e9c92c;*/
}
.get_in_touch a {
  font-size: 20px;
  border-bottom: 2px solid #aaabad;
}
.get_in_touch p.lead {
  background: url('../images/icon_line_01.png') no-repeat left bottom;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.form_help {
  border-right: 1px solid rgba(255, 255, 255, .2);
}
.form_inside {
  padding-right: 40px;
}

.get_in_touch address a {
  line-height: 40px;
}
.footer_icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 33px;
  top: 11px;
  margin-right: 10px;
}
.footer_icon.menu_phone {
  top: 8px;
}

.btn_on_dark {
  margin-top: 20px;
  color: #fff;
  border: 2px solid #f5f5f5; /* stroke */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: rgba(255,255,255,.1);
  font-family: "adelle_rgbold_italic", Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(55,71,54,.6);
  text-transform: uppercase;
  padding: 10px 40px 8px;
}
.btn_on_dark:hover,
.btn_on_dark:focus,
.btn_on_dark:active {
  background-color: rgba(255,255,255,.3);
  color: #fff;
}

/*footer*/
#footer {
  border-bottom: 10px solid #e9c92c;
  padding: 30px 0 10px;
}
#footer p {
  color: #fff;
  line-height: 30px;
}
