/*test colors*/

.grey {
  background-color: #a8a4a4!important;
}
.red {
  background-color: #ef8a8a!important;
}
.orange {
  background-color: #efb887!important;
}
.yellow {
  background-color: #f4e46e!important;
}
.green {
  background-color: #b2f46d!important;
}
.blue {
  background-color: #6cddf4!important;
}
.navy {
  background-color: #6b97f4!important;
}
.purple {
  background-color: #c691f3!important;
}

/*used colors*/

/*------------------------------------------------------------------------------------- */

/*typography*/

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, label, address, form {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: Georgia, Times, "Times New Roman", serif;*/
}
p, a, li, ul, ol, label, address, form {
  /*font-family: Georgia, Times, "Times New Roman", serif;*/
  color: #999999;
}
